

@using MobileShop.Models.DTO
@model DropDowns


@Styles.Render("~/Content/Home/Filter.css")
@Scripts.Render("~/Content/Home/Filter.js")

@{
    var Batteries = Model.Batteries.OrderBy(x => x.Capacity);
    var Cameras = Model.Cameras;
    var Memories = Model.Memories;
    var Shops = Model.Shops;
    var OperativeSystems = Model.OperativeSystems;
    var Rams = Model.Rams;

    var internMemory = new List<SelectListItem>();
    var externMemory = new List<SelectListItem>();

    foreach (var memory in Memories)
    {
        internMemory.Add(new SelectListItem { Text = memory.Size, Value = memory.Id.ToString() });
        externMemory.Add(new SelectListItem { Text = memory.Size, Value = memory.Id.ToString() });
    }

    var minValue = Model.MinPrice;
    var maxValue = Model.MaxPrice;
}

<div style="margin-top: 10px; max-width: 220px;">
    @Html.TextBox("SearchBox", null, new { placeholder = "Search by name...", @class = "search-input", id="search" })
</div>
<div style="margin-top: 10px; max-width: 220px;">
    <span>Price range:</span> <br>
    @Html.TextBox("minOutput", 1, new { id = "minOutput", style = "width: 45%; ", placeholder = "Min", onInput = "onMinValueOutputChange()", min = minValue, max = maxValue, type = "number", @class = "search-input" }) -
    @Html.TextBox("maxOutput", 1, new { id = "maxOutput", style = "width: 45%;", placeholder = "Max", onInput = "onMaxValueOutputChange()", min = minValue, max = maxValue, type = "number", @class = "search-input" })
</div>
<div style="margin-top: 10px; max-width: 220px;">
    <span>Minimum price:</span>
    <input type="range" min=@minValue max=@maxValue value=@minValue class="slider" id="minRange" oninput="onMinValueSliderChange()">
</div>
<div style="margin-top: 10px; max-width: 220px;">
    <span>Maximum price:</span>
    <input type="range" min=@minValue max=@maxValue value=@maxValue class="slider" id="maxRange" oninput="onMaxValueSliderChange()">
</div>


@* EXTERN MEMORY *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#externMemory" aria-expanded="false" aria-controls="externMemory" style="width: 100%; background-color: #333; color:#FF7417;">Extern memory</button>
    <div class="collapse multi-collapse" id="externMemory">
        <div class="card card-body">
            <ul>
                @foreach (var memory in externMemory)
                {
                    <li>
                        <label class="check">
                            @memory.Text
                            @Html.CheckBox(memory.Value, false, new { id=memory.Value, @class="extern" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@* INTERN MEMORY *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#internMemory" aria-expanded="false" aria-controls="internMemory" style="width: 100%; background-color: #333; color:#FF7417;">Intern memory</button>
    <div class="collapse multi-collapse" id="internMemory">
        <div class="card card-body">
            <ul>
                @foreach (var memory in internMemory)
                {
                    <li>
                        <label class="check">
                            @memory.Text
                            @Html.CheckBox(memory.Value, false, new { id =memory.Value, @class = "intern" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@* SHOPS *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#shops" aria-expanded="false" aria-controls="shops" style="width: 100%; background-color: #333; color:#FF7417;">Shops</button>
    <div class="collapse multi-collapse" id="shops">
        <div class="card card-body">
            <ul>
                @foreach (var shop in Shops)
                {
                    <li>
                        <label class="check">
                            @shop.ShopName
                            @Html.CheckBox(shop.Id.ToString(), false, new { id = shop.Id, @class = "shop" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@* SCREEN TOUCH *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#touch" aria-expanded="false" aria-controls="touch" style="width: 100%; background-color: #333; color:#FF7417;">Touch</button>
    <div class="collapse multi-collapse" id="touch">
        <div class="card card-body">
            <ul>
                <li>
                    <label class="check">
                        Yes
                        @Html.CheckBox("Yes", false, new { id= "yes", @class="touch"})
                        <span class="checkmark"></span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        No
                        @Html.CheckBox("No", false, new { id = "no", @class = "touch" })
                        <span class="checkmark"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>

@* SYSTEM *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#os" aria-expanded="false" aria-controls="os" style="width: 100%; background-color: #333; color:#FF7417;">System</button>
    <div class="collapse multi-collapse" id="os">
        <div class="card card-body">
            <ul>
                @foreach (var item in OperativeSystems)
                {
                    <li>
                        <label class="check">
                            @item.OS
                            @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id, @class = "os" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@* RAM *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#ram" aria-expanded="false" aria-controls="ram" style="width: 100%; background-color: #333; color:#FF7417;">RAM</button>
    <div class="collapse multi-collapse" id="ram">
        <div class="card card-body">
            <ul>
                @foreach (var item in Rams)
                {
                    <li>
                        <label class="check">
                            @String.Concat(item.Memory)
                            @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id, @class = "ram" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@* BATTERY *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#battery" aria-expanded="false" aria-controls="battery" style="width: 100%; background-color: #333; color:#FF7417;">Battery</button>
    <div class="collapse multi-collapse" id="battery">
        <div class="card card-body">
            <ul>
                @foreach (var item in Batteries)
                {
                    <li>
                        <label class="check">
                            @item.Capacity
                            @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id, @class = "battery" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@* FRONT CAMERA *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#frontCamera" aria-expanded="false" aria-controls="frontCamera" style="width: 100%; background-color: #333; color:#FF7417;">Front camera</button>
    <div class="collapse multi-collapse" id="frontCamera">
        <div class="card card-body">
            <ul>
                @foreach (var item in Cameras)
                {
                    <li>
                        <label class="check">
                            @String.Concat(item.MP)
                            @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id, @class = "front" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@* BACK CAMERA *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#backCamera" aria-expanded="false" aria-controls="backCamera" style="width: 100%; background-color: #333; color:#FF7417;">Main camera</button>
    <div class="collapse multi-collapse" id="backCamera">
        <div class="card card-body">
            <ul>
                @foreach (var item in Cameras)
                {
                    <li>
                        <label class="check">
                            @String.Concat(item.MP)
                            @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id, @class = "back" })
                            <span class="checkmark"></span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@* SOUND *@
<div class="row" style="margin: 15px 0px 15px 0px; max-width: 220px;">
    <button class="btn" type="button" data-toggle="collapse" data-target="#sound" aria-expanded="false" aria-controls="sound" style="width: 100%; background-color: #333; color:#FF7417;">Sound</button>
    <div class="collapse multi-collapse" id="sound">
        <div class="card card-body">
            <ul>
                <li>
                    <label class="check">
                        FMRadio
                        @Html.CheckBox("FMRadio", false, new { id = "fmradio" })
                        <span class="checkmark"></span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        HD Voice
                        @Html.CheckBox("HDVoice", false, new { id = "hdvoice" })
                        <span class="checkmark"></span>
                    </label>
                </li>
                <li>
                    <label class="check">
                        Port 35 mm
                        @Html.CheckBox("Port35mm", false, new { id = "port35mm" })
                        <span class="checkmark"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="text-align:center; max-width: 220px;">
    <button class="btn cust-btn" onclick="Search()" type="button" id="btn-registration" style="font-size: 16px; letter-spacing: 1px; width: 100px;">Search</button>
</div>
