@using MobileShop.Models.DTO
@model DropDowns


@Styles.Render("~/Content/Home/Filter.css")
@Scripts.Render("~/Content/Home/Filter.js")

@{
    var Batteries = Model.Batteries.OrderBy(x => x.Capacity);
    var Cameras = Model.Cameras;
    var Memories = Model.Memories;
    var Shops = Model.Shops;
    var OperativeSystems = Model.OperativeSystems;
    var Rams = Model.Rams;

    var internMemory = new List<SelectListItem>();
    var externMemory = new List<SelectListItem>();

    foreach (var memory in Memories)
    {
        internMemory.Add(new SelectListItem { Text = memory.Size, Value = memory.Id.ToString() });
        externMemory.Add(new SelectListItem { Text = memory.Size, Value = memory.Id.ToString() });
    }

    var minValue = "1";
    var maxValue = "100";

    #region
    var screenSize = new List<SelectListItem>();
    screenSize.Add(new SelectListItem { Text = "2.5\"", Value = "1" });
    screenSize.Add(new SelectListItem { Text = "3.1\"", Value = "2" });
    screenSize.Add(new SelectListItem { Text = "3.2\"", Value = "3" });
    screenSize.Add(new SelectListItem { Text = "3.5\"", Value = "4" });
    screenSize.Add(new SelectListItem { Text = "3.7\"", Value = "5" });
    screenSize.Add(new SelectListItem { Text = "3.8\"", Value = "6" });
    screenSize.Add(new SelectListItem { Text = "4.0\"", Value = "7" });

    screenSize.Add(new SelectListItem { Text = "4.2\"", Value = "8" });
    screenSize.Add(new SelectListItem { Text = "4.3\"", Value = "9" });
    screenSize.Add(new SelectListItem { Text = "4.5\"", Value = "10" });
    screenSize.Add(new SelectListItem { Text = "4.6\"", Value = "12" });
    screenSize.Add(new SelectListItem { Text = "4.7\"", Value = "12" });
    screenSize.Add(new SelectListItem { Text = "4.8\"", Value = "13" });
    screenSize.Add(new SelectListItem { Text = "5.0\"", Value = "7" });

    screenSize.Add(new SelectListItem { Text = "5.1\"", Value = "1" });
    screenSize.Add(new SelectListItem { Text = "5.2\"", Value = "2" });
    screenSize.Add(new SelectListItem { Text = "5.3\"", Value = "3" });
    screenSize.Add(new SelectListItem { Text = "5.4\"", Value = "4" });
    screenSize.Add(new SelectListItem { Text = "5.5\"", Value = "5" });
    screenSize.Add(new SelectListItem { Text = "5.7\"", Value = "6" });
    screenSize.Add(new SelectListItem { Text = "5.8\"", Value = "7" });
    screenSize.Add(new SelectListItem { Text = "6.0\"", Value = "7" });

    screenSize.Add(new SelectListItem { Text = "6.2\"", Value = "1" });
    screenSize.Add(new SelectListItem { Text = "5.9\"", Value = "2" });
    screenSize.Add(new SelectListItem { Text = "7.0\"", Value = "3" });
    screenSize.Add(new SelectListItem { Text = "7.7\"", Value = "4" });
    screenSize.Add(new SelectListItem { Text = "7.9\"", Value = "5" });
    screenSize.Add(new SelectListItem { Text = "8.0\"", Value = "6" });
    screenSize.Add(new SelectListItem { Text = "8.9\"", Value = "7" });
    screenSize.Add(new SelectListItem { Text = "9.0\"", Value = "7" });
    #endregion

}

<div class="slidecontainer" style="width: 12%; margin-left: 15px;">
    <div style="margin-top: 10px;">
        @Html.TextBox("SearchBox", null, new { placeholder="Search by name...", @class = "search-input" })
    </div>
    <div style="margin-top: 10px;">
        <span>Price range:</span> <br>
        @Html.TextBox("minOutput", 1, new { id = "minOutput", style="width: 45%; ", placeholder="Min", onInput="onMinValueOutputChange()", min = minValue, max = maxValue, type="number", @class="search-input" }) - 
        @Html.TextBox("maxOutput", 1, new { id = "maxOutput", style = "width: 45%;", placeholder="Max", onInput = "onMaxValueOutputChange()", min = minValue, max = maxValue, type = "number", @class = "search-input" })
    </div>
    <div style="margin-top: 10px;">
        <span>Minimum price:</span>
        <input type="range" min=@minValue max=@maxValue value=@minValue class="slider" id="minRange" oninput="onMinValueSliderChange()">
    </div>
    <div style="margin-top: 10px;">
        <span>Maximum price:</span>
        <input type="range" min=@minValue max=@maxValue value=@maxValue class="slider" id="maxRange" oninput="onMaxValueSliderChange()">
    </div>
</div>

    @* EXTERN MEMORY *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#externMemory" aria-expanded="false" aria-controls="externMemory" style="width: 100%">Extern memory</button>
            <div class="collapse multi-collapse" id="externMemory">
                <div class="card card-body">
                    <ul>
                        @foreach (var memory in externMemory)
                        {
                            <li>
                                <label class="check">
                                    @memory.Text
                                    @Html.CheckBox(memory.Value, false)
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* INTERN MEMORY *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#internMemory" aria-expanded="false" aria-controls="internMemory" style="width: 100%">Intern memory</button>
            <div class="collapse multi-collapse" id="internMemory">
                <div class="card card-body">
                    <ul>
                        @foreach (var memory in internMemory)
                        {
                            <li>
                                <label class="check">
                                    @memory.Text
                                    @Html.CheckBox(memory.Value, false)
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* SHOPS *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#shops" aria-expanded="false" aria-controls="shops" style="width: 100%">Shops</button>
            <div class="collapse multi-collapse" id="shops">
                <div class="card card-body">
                    <ul>
                        @foreach (var shop in Shops)
                        {
                            <li>
                                <label class="check">
                                    @shop.ShopName
                                    @Html.CheckBox(shop.Id.ToString(), false)
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* SCREEN SIZE *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#screenSize" aria-expanded="false" aria-controls="screenSize" style="width: 100%">Screen size</button>
            <div class="collapse multi-collapse" id="screenSize">
                <div class="card card-body">
                    <ul>
                        @foreach (var size in screenSize)
                        {
                            <li>
                                <label class="check">
                                    @size.Text
                                    @Html.CheckBox(size.Text.ToString(), false)
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* SCREEN TOUCH *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#touch" aria-expanded="false" aria-controls="touch" style="width: 100%">Touch</button>
            <div class="collapse multi-collapse" id="touch">
                <div class="card card-body">
                    <ul>
                        <li>
                            <label class="check">
                                Yes
                                @Html.CheckBox("Yes", false)
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check">
                                No
                                @Html.CheckBox("No", false)
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* SYSTEM *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#os" aria-expanded="false" aria-controls="os" style="width: 100%">System</button>
            <div class="collapse multi-collapse" id="os">
                <div class="card card-body">
                    <ul>
                        @foreach (var item in OperativeSystems)
                        {
                            <li>
                                <label class="check">
                                    @item.OS
                                    @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id })
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* RAM *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ram" aria-expanded="false" aria-controls="ram" style="width: 100%">RAM</button>
            <div class="collapse multi-collapse" id="ram">
                <div class="card card-body">
                    <ul>
                        @foreach (var item in Rams)
                        {
                            <li>
                                <label class="check">
                                    @String.Concat(item.Memory)
                                    @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id })
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


    @* BATTERY *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#battery" aria-expanded="false" aria-controls="battery" style="width: 100%">Battery</button>
            <div class="collapse multi-collapse" id="battery">
                <div class="card card-body">
                    <ul>
                        @foreach (var item in Batteries)
                        {
                            <li>
                                <label class="check">
                                    @item.Capacity
                                    @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id })
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* FRONT CAMERA *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#frontCamera" aria-expanded="false" aria-controls="frontCamera" style="width: 100%">Front camera</button>
            <div class="collapse multi-collapse" id="frontCamera">
                <div class="card card-body">
                    <ul>
                        @foreach (var item in Cameras)
                        {
                            <li>
                                <label class="check">
                                    @String.Concat(item.MP)
                                    @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id })
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* BACK CAMERA *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#backCamera" aria-expanded="false" aria-controls="backCamera" style="width: 100%">Main camera</button>
            <div class="collapse multi-collapse" id="backCamera">
                <div class="card card-body">
                    <ul>
                        @foreach (var item in Cameras)
                        {
                            <li>
                                <label class="check">
                                    @String.Concat(item.MP)
                                    @Html.CheckBox(item.Id.ToString(), false, new { id = item.Id })
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @* SOUND *@
    <div class="row" style="margin: 15px;">
        <div style="width: 12%">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sound" aria-expanded="false" aria-controls="sound" style="width: 100%">Sound</button>
            <div class="collapse multi-collapse" id="sound">
                <div class="card card-body">
                    <ul>
                        <li>
                            <label class="check">
                                FMRadio
                                @Html.CheckBox("FMRadio", false)
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check">
                                HD Voice
                                @Html.CheckBox("HDVoice", false)
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check">
                                Port 35 mm
                                @Html.CheckBox("Port35mm", false)
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 12%; text-align:center; margin-left: 15px;">
        <button class="btn cust-btn " type="button" id="btn-registration" style="font-size: 16px; letter-spacing: 1px; width: 100px;">Search</button>
    </div>
