@model MobileShop.Models.DTO.OneMobile
@Scripts.Render("~/Content/Mobile/Mobile.js")
@Styles.Render("~/Content/Mobile/Mobile.css")
@Scripts.Render("~/Content/Mobile/jssor.slider-27.5.0.min.js")
@Styles.Render("~/Content/Home/Filter.css")
@Scripts.Render("~/Content/Home/Filter.js")

@{ 
    var Images = Model.Images.ToList();
    var Shop = Model.Shop;
}
<div class="row" style="margin-right: 15px; margin-left: 15px; margin-top: 30px;">
    <div class="col-sm-3">
        <div class="row">
            <div id="jssor_1" style="position: relative; margin: auto; width: 100px; height: 125px; overflow:hidden; visibility: hidden; border: solid #FF7417 1px;">
                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 100px; height: 125px; overflow: hidden;">
                    @foreach (var image in Images)
                    {
                        <div>
                            <img data-u="image" src="data:image/png;base64, @image" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mobile-name">
            @Model.Name
        </div>
        <div class="row mobile-price">
            Price: @Model.Price
        </div>
        <div class="row mobile-about">
            @Model.About
        </div>
        <script type="text/javascript">jssor_1_slider_init();</script>
    </div>
    <div class="col-sm-5" >
        <span class="attribute-header">Platform</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Operative system</td><td>@Model.OperatingSystem</td></tr>
            <tr><td class="attribute-name" width="40%">Proccessor</td><td>@Model.Proccessor</td></tr>
            <tr><td class="attribute-name" width="40%">RAM</td><td>@Model.RAM</td></tr>
        </table>

        <span class="attribute-header">Screen</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Size</td><td>@Model.ScreenSize</td></tr>
            <tr><td class="attribute-name" width="40%">Resolution</td><td>@Model.Resolution</td></tr>
            <tr><td class="attribute-name" width="40%">Type</td><td>@Model.ScreenType</td></tr>
            <tr><td class="attribute-name" width="40%">Touch</td>@if (Model.Touch == true) { <td>Yes</td> } else { <td> No </td>}</tr>
        </table>

        <span class="attribute-header">Camera</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Main camera</td><td>@Model.BackCamera</td></tr>
            <tr><td class="attribute-name" width="40%">Main camera characteristics</td><td>@Model.BackCameraChar</td></tr>
            <tr><td class="attribute-name" width="40%">Front camera</td><td>@Model.FrontCamera</td></tr>
            <tr><td class="attribute-name" width="40%">Front camera characteristics</td><td>@Model.FrontCameraChar</td></tr>
            <tr><td class="attribute-name" width="40%">Video</td><td>@Model.Video</td></tr>
        </table>

        <span class="attribute-header">Memory</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Intern memory</td><td>@Model.InternMemory</td></tr>
            <tr><td class="attribute-name" width="40%">Extern memory</td><td>@Model.ExternMemory</td></tr>
        </table>

        <span class="attribute-header">Sound</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">HD voice</td>@if (Model.HDVoice == true) { <td>Yes</td> } else { <td> No </td>}</tr>
            <tr><td class="attribute-name" width="40%">3.5 mm port</td>@if (Model.Port35mm == true) { <td>Yes</td> } else { <td> No </td>}</tr>
            <tr><td class="attribute-name" width="40%">FM radio</td>@if (Model.FMRadio == true) { <td>Yes</td> } else { <td> No </td>}</tr>
        </table>

        <span class="attribute-header">Communications</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Data transfer</td><td>@Model.DataTransfer</td></tr>
            <tr><td class="attribute-name" width="40%">2G network</td><td>@Model.Network2G</td></tr>
            <tr><td class="attribute-name" width="40%">3G network</td><td>@Model.Network3G</td></tr>
            <tr><td class="attribute-name" width="40%">4G network</td><td>@Model.Network4G</td></tr>
            <tr><td class="attribute-name "width="40%">USB</td><td>@Model.USB</td></tr>
            <tr><td class="attribute-name" width="40%">WiFi</td><td>@Model.WiFi</td></tr>
            <tr><td class="attribute-name" width="40%">Bluetooth</td><td>@Model.Bluetooth</td></tr>
            <tr><td class="attribute-name" width="40%">GPS</td>@if (Model.GPS == true) { <td>Yes</td> } else { <td> No </td>}</tr>
            <tr><td class="attribute-name" width="40%">NFC</td>@if (Model.NFC == true) { <td>Yes</td> } else { <td> No </td>}</tr>
            <tr><td class="attribute-name" width="40%">Messages</td><td>@Model.PhoneMessages</td></tr>
        </table>

        <span class="attribute-header">Battery</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Capacity</td><td>@Model.BatteryCapacity</td></tr>
        </table>

        <span class="attribute-header">Additional characteristics</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">SIM</td><td>@Model.SIM</td></tr>
            <tr><td class="attribute-name" width="40%">Dual SIM</td>@if (Model.DualSIM == true) { <td>Yes</td> } else { <td> No </td>}</tr>
            <tr><td class="attribute-name" width="40%">Dimensions</td><td>@Model.Dimensions</td></tr>
            <tr><td class="attribute-name" width="40%">Weight</td><td>@Model.PhoneWeight</td></tr>
        </table>

        <span class="attribute-header">Additional functionalities</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Description</td><td>@Model.AdditionalDescription</td></tr>
        </table>

        <span class="attribute-header">Package content</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="40%">Description</td><td>@Model.PackageContent</td></tr>
        </table>
    </div>
    <div class="col-sm-4">
          <span class="attribute-header">Shop info</span>
        <table class="table table-bordered">
            <tr><td class="attribute-name" width="50%">Name</td><td>@Shop.ShopName</td></tr>
            <tr><td class="attribute-name" width="50%">Phone number</td><td>@Shop.ContactPhone</td></tr>
            <tr><td class="attribute-name" width="50%">Mobile number</td><td>@Shop.ContactMobilePhone</td></tr>
            <tr><td class="attribute-name" width="50%">Address</td><td>@Shop.ContactAddress</td></tr>
            <tr><td class="attribute-name" width="50%">Open time</td><td>@Shop.OpenTime</td></tr>
        </table>
        <div>
            <button class="btn cust-btn " type="button" id="btn-registration" style="font-size: 16px; letter-spacing: 1px; width: 120px;" onclick="AddToCart(@Model.Id, @Shop.Id, @Model.Price)">Add to cart</button>
        </div>
    </div>
</div>